<!doctype html>
<html lang="zh-CN">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>知识扩充</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stu_css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stu_css/nprogress.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mains/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stu_css/stydy.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stu_css/font-awesome.min.css' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/icon.png' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <script src="{% static 'js/admin_js/jquery-2.0.3.min.js' %}"></script>
    <script src="{% static 'js/stu_js/nprogress.js' %}"></script>
    <script src="{% static 'js/stu_js/jquery.lazyload.min.js' %}"></script>
</head>
<body class="user-select">
<!--header start here-->
<div class="headerer" style="position: fixed;top: 0;width: 100%;">
    <div class="container" style="width: 100%;padding: 0 30px;box-sizing: border-box;">
        <div class="header-main">
            <div class="logo">
                <a href="main.html" style="font-size: 25px;text-decoration: none"> 学情分析与助学平台 </a>
            </div>
            <div class="head-right">
                <div class="top-nav">
                    <span class="menu"> <img src="{% static 'images/icon.png' %}" alt="" /></span>
                    <ul class="res">
                        <li><a class="active" href="{% url 'main' %}">主页</a></li>
                        <li><a href="{% url 'study' %}">知识扩充</a></li>
                        <!-- <li><a href="me.html">个人中心</a></li> -->
                        <!--<li><a href="contact.html">联系我们</a></li>-->

                    </ul>
                </div>

                <div style="position: relative;width:37px;height:37px;display: inline-block;float: right;padding:5px;margin:30px 70px 0 0;background: #fff;border-radius: 30px;overflow: hidden;">
                    <span class="glyphicon glyphicon-bell" style="font-size: 25px;margin:2px 0 0 2px;"></span>
                    <span style="position: absolute;right: 5px;top: 5px;font-size: 12px;color: #fff;display: inline-block;width: 15px;height: 15px;background: red;border-radius: 15px;text-align: center;">3</span>
                </div>
                <div class="search-box">
                    <div id="sb-search" class="sb-search">
                        <p><a style="text-decoration: none; display: inline-block;width: 100%;height: 100%;line-height: 40px;padding: 0;" href="../others/login.html">退出</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--header end here-->

<section class="container" style="margin-top: 130px;">
  <div class="content-wrap">
    <div class="content">
      <div class="title">
        <h3 style="line-height: 1.3">
            <ul id="myTab" class="nav nav-tabs" style="height: 100%;">
                <li class="active"><a href="#A" data-toggle="tab">资讯</a></li>
                <li><a href="#B" data-toggle="tab">招聘</a></li>
                <li><a href="#C" data-toggle="tab">开源项目</a></li>
            </ul>
        </h3>
		
		<div style="float:right;margin:15px;">更多>></div>
      </div>

        <div id="myTabContent" class="tab-content">
            <!-- ********************资讯********************** -->
            <div class="tab-pane fade in active" id="A">

                {% for artcle in all_artcle %}
                       <article class="excerpt excerpt-6"><a class="focus" href="{% url 'artcledetail' artcle.id %}" title="图片" target="_blank" ><img class="thumb" data-original="http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg" src="http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg" alt=""  style="display: inline;"></a>
                        <header><a class="cat" href="{% url 'artcledetail' artcle.id %}" title="类型" >{{ artcle.type_name }}<i></i></a>
                            <h2><a href="{% url 'artcledetail' artcle.id %}" title="" target="_blank" >{{ artcle.title }}</a></h2>
                        </header>
                        <p class="meta">
                            <time class="time"><i class="glyphicon glyphicon-time"></i>{{ artcle.add_time }}</time>
                            <span class="views"><i class="glyphicon glyphicon-eye-open"></i> {{ artcle.click_times }}</span> <a class="comment" href="javascript:;" title="评论" target="_blank" ><i class="glyphicon glyphicon-comment"></i> 4</a></p>
                        <p class="note">{{ artcle.content }}</p>
                     </article>
                {% endfor %}

            </div>
            <!-- ********************招聘********************** -->
            <div class="tab-pane fade" id="B">
                <!--最新，最热，推荐-->
                <div class="container" style="min-height: 100px">
                    <div class="row" style="padding: 0;border: 0;">
                        <div class="col-lg-12 col-md-12 col-sm-12">

                            <h4 style="text-align: center;border-bottom: 3px solid orangered;line-height: 45px;"><a href="javascript:;">推荐工作</a></h4>
                            <ul class="zwlb">
                            {% for job in all_job %}
                                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="start">
                                        <div class="zwlb-nm" style="overflow: hidden">
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 f-left zwlb-name">
                                                <h5><a href="{% url 'jobdetail' job.id %}" target="_blank" class="position_link fl wordCut">{{ job.title }}</a></h5>
                                            </div>
                                            <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5 f-right zwlb-money">{{ job.salary }}</span>
                                        </div>
                                        <div class="zwlb-jy">
                                            <span class="label label-info">经验1-3年</span>
                                            <span class="label label-info">本科</span>
                                            <span class="label label-info">互联网</span>
                                        </div>
                                    </div>
                                </li>

                            {% endfor %}

                        </ul>

                        </div>
                    </div>
                </div>
                <div class="container" style="min-height: 100px">
                    <div class="row" style="padding: 0;border: 0;">
                        <div class="col-lg-12 col-md-12 col-sm-12">

                            <h4 style="text-align: center;border-bottom: 3px solid orangered;line-height: 45px;"><a href="javascript:;">最新工作</a></h4>
                            <ul class="zwlb">
                                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="start">
                                        <div class="zwlb-nm" style="overflow: hidden">
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 f-left zwlb-name">
                                                <h5><a href="shoperlist.html" target="_blank" class="position_link fl wordCut">最新的工作名称1</a></h5>
                                            </div>
                                            <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5 f-right zwlb-money">20k-30k</span>
                                        </div>
                                        <div class="zwlb-jy">
                                            <span class="label label-info">经验1-3年</span>
                                            <span class="label label-info">本科</span>
                                            <span class="label label-info">互联网</span>
                                        </div>
                                    </div>

                                </li>
                                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="start">
                                        <div class="zwlb-nm" style="overflow: hidden">
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 f-left zwlb-name">
                                                <h5><a href="shoperlist.html" target="_blank" class="position_link fl wordCut">最新的工作名称1</a></h5>
                                            </div>
                                            <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5 f-right zwlb-money">20k-30k</span>
                                        </div>
                                        <div class="zwlb-jy">
                                            <span class="label label-info">经验1-3年</span>
                                            <span class="label label-info">本科</span>
                                            <span class="label label-info">互联网</span>
                                        </div>
                                    </div>

                                </li>
                                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="start">
                                        <div class="zwlb-nm" style="overflow: hidden">
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 f-left zwlb-name">
                                                <h5><a href="shoperlist.html" target="_blank" class="position_link fl wordCut">最新的工作名称1</a></h5>
                                            </div>
                                            <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5 f-right zwlb-money">20k-30k</span>
                                        </div>
                                        <div class="zwlb-jy">
                                            <span class="label label-info">经验1-3年</span>
                                            <span class="label label-info">本科</span>
                                            <span class="label label-info">互联网</span>
                                        </div>
                                    </div>

                                </li>
                                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="start">
                                        <div class="zwlb-nm" style="overflow: hidden">
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 f-left zwlb-name">
                                                <h5><a href="shoperlist.html" target="_blank" class="position_link fl wordCut">最新的工作名称1</a></h5>
                                            </div>
                                            <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5 f-right zwlb-money">20k-30k</span>
                                        </div>
                                        <div class="zwlb-jy">
                                            <span class="label label-info">经验1-3年</span>
                                            <span class="label label-info">本科</span>
                                            <span class="label label-info">互联网</span>
                                        </div>
                                    </div>

                                </li>
                                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="start">
                                        <div class="zwlb-nm" style="overflow: hidden">
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 f-left zwlb-name">
                                                <h5><a href="shoperlist.html" target="_blank" class="position_link fl wordCut">最新的工作名称1</a></h5>
                                            </div>
                                            <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5 f-right zwlb-money">20k-30k</span>
                                        </div>
                                        <div class="zwlb-jy">
                                            <span class="label label-info">经验1-3年</span>
                                            <span class="label label-info">本科</span>
                                            <span class="label label-info">互联网</span>
                                        </div>
                                    </div>

                                </li>
                                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="start">
                                        <div class="zwlb-nm" style="overflow: hidden">
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 f-left zwlb-name">
                                                <h5><a href="shoperlist.html" target="_blank" class="position_link fl wordCut">最新的工作名称1</a></h5>
                                            </div>
                                            <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5 f-right zwlb-money">20k-30k</span>
                                        </div>
                                        <div class="zwlb-jy">
                                            <span class="label label-info">经验1-3年</span>
                                            <span class="label label-info">本科</span>
                                            <span class="label label-info">互联网</span>
                                        </div>
                                    </div>

                                </li>
                                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="start">
                                        <div class="zwlb-nm" style="overflow: hidden">
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 f-left zwlb-name">
                                                <h5><a href="shoperlist.html" target="_blank" class="position_link fl wordCut">最新的工作名称1</a></h5>
                                            </div>
                                            <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5 f-right zwlb-money">20k-30k</span>
                                        </div>
                                        <div class="zwlb-jy">
                                            <span class="label label-info">经验1-3年</span>
                                            <span class="label label-info">本科</span>
                                            <span class="label label-info">互联网</span>
                                        </div>
                                    </div>

                                </li>
                                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="start">
                                        <div class="zwlb-nm" style="overflow: hidden">
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 f-left zwlb-name">
                                                <h5><a href="shoperlist.html" target="_blank" class="position_link fl wordCut">最新的工作名称1</a></h5>
                                            </div>
                                            <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5 f-right zwlb-money">20k-30k</span>
                                        </div>
                                        <div class="zwlb-jy">
                                            <span class="label label-info">经验1-3年</span>
                                            <span class="label label-info">本科</span>
                                            <span class="label label-info">互联网</span>
                                        </div>
                                    </div>

                                </li>
                                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="start">
                                        <div class="zwlb-nm" style="overflow: hidden">
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 f-left zwlb-name">
                                                <h5><a href="shoperlist.html" target="_blank" class="position_link fl wordCut">最新的工作名称1</a></h5>
                                            </div>
                                            <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5 f-right zwlb-money">20k-30k</span>
                                        </div>
                                        <div class="zwlb-jy">
                                            <span class="label label-info">经验1-3年</span>
                                            <span class="label label-info">本科</span>
                                            <span class="label label-info">互联网</span>
                                        </div>
                                    </div>

                                </li>
                                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="start">
                                        <div class="zwlb-nm" style="overflow: hidden">
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 f-left zwlb-name">
                                                <h5><a href="shoperlist.html" target="_blank" class="position_link fl wordCut">最新的工作名称1</a></h5>
                                            </div>
                                            <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5 f-right zwlb-money">20k-30k</span>
                                        </div>
                                        <div class="zwlb-jy">
                                            <span class="label label-info">经验1-3年</span>
                                            <span class="label label-info">本科</span>
                                            <span class="label label-info">互联网</span>
                                        </div>
                                    </div>

                                </li>
                                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="start">
                                        <div class="zwlb-nm" style="overflow: hidden">
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 f-left zwlb-name">
                                                <h5><a href="shoperlist.html" target="_blank" class="position_link fl wordCut">最新的工作名称1</a></h5>
                                            </div>
                                            <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5 f-right zwlb-money">20k-30k</span>
                                        </div>
                                        <div class="zwlb-jy">
                                            <span class="label label-info">经验1-3年</span>
                                            <span class="label label-info">本科</span>
                                            <span class="label label-info">互联网</span>
                                        </div>
                                    </div>

                                </li>
                                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="start">
                                        <div class="zwlb-nm" style="overflow: hidden">
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 f-left zwlb-name">
                                                <h5><a href="shoperlist.html" target="_blank" class="position_link fl wordCut">最新的工作名称1</a></h5>
                                            </div>
                                            <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5 f-right zwlb-money">20k-30k</span>
                                        </div>
                                        <div class="zwlb-jy">
                                            <span class="label label-info">经验1-3年</span>
                                            <span class="label label-info">本科</span>
                                            <span class="label label-info">互联网</span>
                                        </div>
                                    </div>

                                </li>


                            </ul>

                        </div>
                    </div>
                </div>
                <div class="container" style="min-height: 100px">
                    <div class="row" style="padding: 0;border: 0;">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h4 style="text-align: center;border-bottom: 3px solid orangered;line-height: 45px;"><a href="javascript:;">热门工作</a></h4>
                            <ul class="zwlb">
                                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="start">
                                        <div class="zwlb-nm" style="overflow: hidden">
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 f-left zwlb-name">
                                                <h5><a href="shoperlist.html" target="_blank" class="position_link fl wordCut">热门工作名称1</a></h5>
                                            </div>
                                            <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5 f-right zwlb-money">20k-30k</span>
                                        </div>
                                        <div class="zwlb-jy">
                                            <span class="label label-info">经验1-3年</span>
                                            <span class="label label-info">本科</span>
                                            <span class="label label-info">互联网</span>
                                        </div>
                                    </div>

                                </li>
                                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="start">
                                        <div class="zwlb-nm" style="overflow: hidden">
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 f-left zwlb-name">
                                                <h5><a href="shoperlist.html" target="_blank" class="position_link fl wordCut">热门工作名称1</a></h5>
                                            </div>
                                            <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5 f-right zwlb-money">20k-30k</span>
                                        </div>
                                        <div class="zwlb-jy">
                                            <span class="label label-info">经验1-3年</span>
                                            <span class="label label-info">本科</span>
                                            <span class="label label-info">互联网</span>
                                        </div>
                                    </div>

                                </li>
                                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="start">
                                        <div class="zwlb-nm" style="overflow: hidden">
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 f-left zwlb-name">
                                                <h5><a href="shoperlist.html" target="_blank" class="position_link fl wordCut">热门工作名称1</a></h5>
                                            </div>
                                            <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5 f-right zwlb-money">20k-30k</span>
                                        </div>
                                        <div class="zwlb-jy">
                                            <span class="label label-info">经验1-3年</span>
                                            <span class="label label-info">本科</span>
                                            <span class="label label-info">互联网</span>
                                        </div>
                                    </div>

                                </li>
                                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="start">
                                        <div class="zwlb-nm" style="overflow: hidden">
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 f-left zwlb-name">
                                                <h5><a href="shoperlist.html" target="_blank" class="position_link fl wordCut">热门工作名称1</a></h5>
                                            </div>
                                            <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5 f-right zwlb-money">20k-30k</span>
                                        </div>
                                        <div class="zwlb-jy">
                                            <span class="label label-info">经验1-3年</span>
                                            <span class="label label-info">本科</span>
                                            <span class="label label-info">互联网</span>
                                        </div>
                                    </div>

                                </li>
                                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="start">
                                        <div class="zwlb-nm" style="overflow: hidden">
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 f-left zwlb-name">
                                                <h5><a href="shoperlist.html" target="_blank" class="position_link fl wordCut">热门工作名称1</a></h5>
                                            </div>
                                            <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5 f-right zwlb-money">20k-30k</span>
                                        </div>
                                        <div class="zwlb-jy">
                                            <span class="label label-info">经验1-3年</span>
                                            <span class="label label-info">本科</span>
                                            <span class="label label-info">互联网</span>
                                        </div>
                                    </div>

                                </li>
                                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="start">
                                        <div class="zwlb-nm" style="overflow: hidden">
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 f-left zwlb-name">
                                                <h5><a href="shoperlist.html" target="_blank" class="position_link fl wordCut">热门工作名称1</a></h5>
                                            </div>
                                            <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5 f-right zwlb-money">20k-30k</span>
                                        </div>
                                        <div class="zwlb-jy">
                                            <span class="label label-info">经验1-3年</span>
                                            <span class="label label-info">本科</span>
                                            <span class="label label-info">互联网</span>
                                        </div>
                                    </div>

                                </li>
                                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="start">
                                        <div class="zwlb-nm" style="overflow: hidden">
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 f-left zwlb-name">
                                                <h5><a href="shoperlist.html" target="_blank" class="position_link fl wordCut">热门工作名称1</a></h5>
                                            </div>
                                            <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5 f-right zwlb-money">20k-30k</span>
                                        </div>
                                        <div class="zwlb-jy">
                                            <span class="label label-info">经验1-3年</span>
                                            <span class="label label-info">本科</span>
                                            <span class="label label-info">互联网</span>
                                        </div>
                                    </div>

                                </li>
                                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="start">
                                        <div class="zwlb-nm" style="overflow: hidden">
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 f-left zwlb-name">
                                                <h5><a href="shoperlist.html" target="_blank" class="position_link fl wordCut">热门工作名称1</a></h5>
                                            </div>
                                            <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5 f-right zwlb-money">20k-30k</span>
                                        </div>
                                        <div class="zwlb-jy">
                                            <span class="label label-info">经验1-3年</span>
                                            <span class="label label-info">本科</span>
                                            <span class="label label-info">互联网</span>
                                        </div>
                                    </div>

                                </li>
                                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="start">
                                        <div class="zwlb-nm" style="overflow: hidden">
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 f-left zwlb-name">
                                                <h5><a href="shoperlist.html" target="_blank" class="position_link fl wordCut">热门工作名称1</a></h5>
                                            </div>
                                            <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5 f-right zwlb-money">20k-30k</span>
                                        </div>
                                        <div class="zwlb-jy">
                                            <span class="label label-info">经验1-3年</span>
                                            <span class="label label-info">本科</span>
                                            <span class="label label-info">互联网</span>
                                        </div>
                                    </div>

                                </li>
                                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="start">
                                        <div class="zwlb-nm" style="overflow: hidden">
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 f-left zwlb-name">
                                                <h5><a href="shoperlist.html" target="_blank" class="position_link fl wordCut">热门工作名称1</a></h5>
                                            </div>
                                            <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5 f-right zwlb-money">20k-30k</span>
                                        </div>
                                        <div class="zwlb-jy">
                                            <span class="label label-info">经验1-3年</span>
                                            <span class="label label-info">本科</span>
                                            <span class="label label-info">互联网</span>
                                        </div>
                                    </div>

                                </li>
                                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="start">
                                        <div class="zwlb-nm" style="overflow: hidden">
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 f-left zwlb-name">
                                                <h5><a href="shoperlist.html" target="_blank" class="position_link fl wordCut">热门工作名称1</a></h5>
                                            </div>
                                            <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5 f-right zwlb-money">20k-30k</span>
                                        </div>
                                        <div class="zwlb-jy">
                                            <span class="label label-info">经验1-3年</span>
                                            <span class="label label-info">本科</span>
                                            <span class="label label-info">互联网</span>
                                        </div>
                                    </div>

                                </li>
                                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="start">
                                        <div class="zwlb-nm" style="overflow: hidden">
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 f-left zwlb-name">
                                                <h5><a href="shoperlist.html" target="_blank" class="position_link fl wordCut">热门工作名称1</a></h5>
                                            </div>
                                            <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5 f-right zwlb-money">20k-30k</span>
                                        </div>
                                        <div class="zwlb-jy">
                                            <span class="label label-info">经验1-3年</span>
                                            <span class="label label-info">本科</span>
                                            <span class="label label-info">互联网</span>
                                        </div>
                                    </div>

                                </li>


                            </ul>

                        </div>
                    </div>
                </div>
                <!--//最新，最热，推荐-->
            </div>
            <!-- ****************开源项目********************** -->
            <div class="tab-pane fade" id="C">
                <article class="excerpt excerpt-1"><a class="focus" href="javascript:;" title="用DTcms做一个独立博客网站（响应式模板）" target="_blank" ><img class="thumb" data-original="http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg" src="http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg" alt="用DTcms做一个独立博客网站（响应式模板）"  style="display: inline;"></a>
                    <header><a class="cat" href="javascript:;" title="MZ-NetBlog主题" >开源项目<i></i></a>
                        <h2><a href="javascript:;" title="用DTcms做一个独立博客网站（响应式模板）" target="_blank" >开源项目1</a></h2>
                    </header>
                    <p class="meta">
                        <time class="time"><i class="glyphicon glyphicon-time"></i> 2016-10-14</time>
                        <span class="views"><i class="glyphicon glyphicon-eye-open"></i> 217</span> <a class="comment" href="javascript:;" title="评论" target="_blank" ><i class="glyphicon glyphicon-comment"></i> 4</a></p>
                    <p class="note">开源项目</p>
                </article>

                <!--<nav class="pagination" style="display: none;">-->
                    <!--<ul>-->
                        <!--<li class="prev-page"></li>-->
                        <!--<li class="active"><span>1</span></li>-->
                        <!--<li><a href="?page=2">2</a></li>-->
                        <!--<li class="next-page"><a href="?page=2">下一页</a></li>-->
                        <!--<li><span>共 2 页</span></li>-->
                    <!--</ul>-->
                <!--</nav>-->
            </div>

        </div>





    </div>
  </div>
  <aside class="sidebar">
    <div class="fixed">

      <div class="widget widget_sentence">
        <h3>标签云</h3>
        <div class="widget-sentence-content">
            <ul class="plinks ptags">
                <li><a href="javascript:;" title="移动统计" draggable="false">移动统计 <span class="badge">1</span></a></li>
                <li><a href="javascript:;" title="404" draggable="false">404 <span class="badge">1</span></a></li>
                <li><a href="javascript:;" title="VS2010" draggable="false">VS2010 <span class="badge">1</span></a></li>
                <li><a href="javascript:;" title="杀毒软件" draggable="false">杀毒软件 <span class="badge">1</span></a></li>
                <li><a href="javascript:;" title="html标签" draggable="false">html标签 <span class="badge">1</span></a></li>
                <li><a href="javascript:;" title="循环" draggable="false">循环 <span class="badge">2</span></a></li>
                <li><a href="javascript:;" title="百度统计" draggable="false">百度统计 <span class="badge">2</span></a></li>
                <li><a href="javascript:;" title="sql" draggable="false">sql <span class="badge">6</span></a></li>
            </ul>
        </div>
      </div>
    </div>
    <div class="widget widget_hot">
          <h3>最新评论文章</h3>
          <ul>
              <li>
    <a title="用DTcms做一个独立博客网站（响应式模板）" href="showlist.html" >
        <span class="thumbnail">
            <img class="thumb" data-original="http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg" src="http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg" alt="用DTcms做一个独立博客网站（响应式模板）"  style="display: block;">
        </span>
        <span class="text">用DTcms做一个独立博客网站（响应式模板）</span>
        <span class="muted"><i class="glyphicon glyphicon-time"></i>2016-11-01
        </span>
        <span class="muted"><i class="glyphicon glyphicon-eye-open"></i>88</span>
    </a>
</li>
              <li>
                  <a title="用DTcms做一个独立博客网站（响应式模板）" href="showlist.html" >
        <span class="thumbnail">
            <img class="thumb" data-original="http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg" src="http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg" alt="用DTcms做一个独立博客网站（响应式模板）"  style="display: block;">
        </span>
                      <span class="text">用DTcms做一个独立博客网站（响应式模板）</span>
        <span class="muted"><i class="glyphicon glyphicon-time"></i>2016-11-01
        </span>
                      <span class="muted"><i class="glyphicon glyphicon-eye-open"></i>88</span>
                  </a>
              </li>
              <li>
                  <a title="用DTcms做一个独立博客网站（响应式模板）" href="showlist.html" >
        <span class="thumbnail">
            <img class="thumb" data-original="http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg" src="http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg" alt="用DTcms做一个独立博客网站（响应式模板）"  style="display: block;">
        </span>
                      <span class="text">用DTcms做一个独立博客网站（响应式模板）</span>
        <span class="muted"><i class="glyphicon glyphicon-time"></i>2016-11-01
        </span>
                      <span class="muted"><i class="glyphicon glyphicon-eye-open"></i>88</span>
                  </a>
              </li>
              <li>
                  <a title="用DTcms做一个独立博客网站（响应式模板）" href="showlist.html" >
        <span class="thumbnail">
            <img class="thumb" data-original="http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg" src="http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg" alt="用DTcms做一个独立博客网站（响应式模板）"  style="display: block;">
        </span>
                      <span class="text">用DTcms做一个独立博客网站（响应式模板）</span>
        <span class="muted"><i class="glyphicon glyphicon-time"></i>2016-11-01
        </span>
                      <span class="muted"><i class="glyphicon glyphicon-eye-open"></i>88</span>
                  </a>
              </li>
              <li>
                  <a title="用DTcms做一个独立博客网站（响应式模板）" href="showlist.html" >
        <span class="thumbnail">
            <img class="thumb" data-original="http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg" src="http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg" alt="用DTcms做一个独立博客网站（响应式模板）"  style="display: block;">
        </span>
                      <span class="text">用DTcms做一个独立博客网站（响应式模板）</span>
        <span class="muted"><i class="glyphicon glyphicon-time"></i>2016-11-01
        </span>
                      <span class="muted"><i class="glyphicon glyphicon-eye-open"></i>88</span>
                  </a>
              </li>
              <li>
                  <a title="用DTcms做一个独立博客网站（响应式模板）" href="showlist.html" >
        <span class="thumbnail">
            <img class="thumb" data-original="http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg" src="http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg" alt="用DTcms做一个独立博客网站（响应式模板）"  style="display: block;">
        </span>
                      <span class="text">用DTcms做一个独立博客网站（响应式模板）</span>
        <span class="muted"><i class="glyphicon glyphicon-time"></i>2016-11-01
        </span>
                      <span class="muted"><i class="glyphicon glyphicon-eye-open"></i>88</span>
                  </a>
              </li>
              <li>
                  <a title="用DTcms做一个独立博客网站（响应式模板）" href="showlist.html" >
        <span class="thumbnail">
            <img class="thumb" data-original="http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg" src="http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg" alt="用DTcms做一个独立博客网站（响应式模板）"  style="display: block;">
        </span>
                      <span class="text">用DTcms做一个独立博客网站（响应式模板）</span>
        <span class="muted"><i class="glyphicon glyphicon-time"></i>2016-11-01
        </span>
                      <span class="muted"><i class="glyphicon glyphicon-eye-open"></i>88</span>
                  </a>
              </li>
              <li>
                  <a title="用DTcms做一个独立博客网站（响应式模板）" href="showlist.html" >
        <span class="thumbnail">
            <img class="thumb" data-original="http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg" src="http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg" alt="用DTcms做一个独立博客网站（响应式模板）"  style="display: block;">
        </span>
                      <span class="text">用DTcms做一个独立博客网站（响应式模板）</span>
        <span class="muted"><i class="glyphicon glyphicon-time"></i>2016-11-01
        </span>
                      <span class="muted"><i class="glyphicon glyphicon-eye-open"></i>88</span>
                  </a>
              </li>
          </ul>
      </div>

  </aside>
</section>

<footer id="xq_footer" style="background: #121212;">
    <div class="container">
        <div class="row" style="padding: 10px;border: 0;">
            <p style="text-align: center;color: #efefef;">北方民族大学大数据团队 &copy;版权所有</p>
        </div>
    </div>
</footer>
    <script src="{% static 'js/stu_js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/stu_js/jquery.ias.js' %}"></script>
    <script src="{% static 'js/stu_js/stydy.js' %}"></script>
</body>
</html>
