<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学情预警综合分析平台</title>
    <!-- 引入Bootstrap核心样式文件（必须） -->
    <link rel="stylesheet" href="{% static 'css/stu_css/bootstrap.css' %}">
    <!-- 你自己的样式或其他文件 -->
    <link rel="stylesheet" href="{% static 'css/stu_css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/mains/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/stu_css/shops.css' %}">
    <!--站点图标-->
    <link rel="shortcut icon" href="http://iph.href.lu/32x32?text=tb" type="image/x-icon">
</head>
<body>

<!--header start here-->
<div class="headerer">
    <div class="container">
        <div class="header-main">
            <div class="logo">
						<a href="{% url 'main' %}" style="font-size: 25px;text-decoration: none"> 学情分析与助学平台 </a>
					</div>
					<div class="head-right">
						<div class="top-nav">
							<span class="menu"> <img src="{% static 'images/icon.png' %}" alt="" /></span>
							<ul class="res">
								<li><a class="active" href="{% url 'main' %}">个人主页</a></li>
								<li><a href="{% url 'stcred' %}">我的学分</a></li>
								 <li><a href="{% url 'course' %}">我的课程</a></li>
								<li><a href="{% url 'inst' %}">专业兴趣</a></li>
{#                                <li><a href="https://helpstudy.cn/thirdAuth/1/{{ info.st_id }}/{{ range_code }}">学习状况</a></li>#}
{#                                <li><a href="https://helpstudy.cn/thirdAuth/2/{{ info.st_id }}/{{ range_code }}">学习计划</a></li>#}
{#                                <li><a href="https://helpstudy.cn/thirdAuth/3/{{ info.st_id }}/{{ range_code }}">在线学习</a></li>#}
                            </ul>
                    <!-- script-for-menu -->
                    <script>
                        $( "span.menu" ).click(function() {
                            $( "ul.res" ).slideToggle( 300, function() {
                                // Animation complete.
                            });
                        });
                    </script>
                    <!-- /script-for-menu -->
                </div>

                <div class="social">
                    <ul >
                        <li><a class="fa" href="#"> </a></li>
                        <li><a class="tw" href="#"> </a></li>
                        <li><a class="p" href="#"> </a></li>
                    </ul>
                </div>


                <div class="clearfix"> </div>
                <!-- search-scripts -->
                <script src="{% static 'js/stu_js/classie.js' %}"></script>
                <script src="{% static 'js/stu_js/uisearch.js' %}"></script>
                <script>
                    new UISearch( document.getElementById( 'sb-search' ) );
                </script>
                <!-- //search-scripts -->
            </div>

            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--header end here-->
<!--内容-->

<div class="wrapperto">


    <div class="main-product-thumbnail">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="thubnail-desc fix gzxiangq">
                        <h4 class="product-header col-xs-12 col-sm-12 col-md-12 col-lg-12"><a href="{{ all_job_detail.url }}">{{ all_job_detail.title }}</a>></h4>
                        <div class="pro-price gzxiangqxx col-xs-12 col-sm-12 col-md-5 col-lg-5">
                            <p><span class="skuer">薪酬：</span><span class="price">{{ all_job_detail.salary }}</span></p>
                            <p><span class="skuer">发布单位：</span><a href="#">热云数据科技公司</a></p>
                            <p><span class="skuer">工作时间：</span><span>9：00-18：00</span></p>
                            <p><span class="skuer">工作地点：</span><span>北京是朝阳区</span></p>
                            <p><span class="skuer">工作性质：</span><span>全职</span></p>
                            <p><span class="skuer">招聘人数：</span><span>5</span>人</p>
                            <p><span class="skuer">联系方式：</span><span>13800000000</span></p>
                        </div>
                        <div class="pro-ref gzxiangqxx col-xs-12 col-sm-12 col-md-7 col-lg-7">
                            <div>
                                <p class="skuer">工作内容：</p>
                                <p>{{ all_job_detail.content }}</p>


                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>


</div>

<!--/内容-->

<!--尾部-->
<footer id="xq_footer" style="width:100%;background: #121212;position: fixed;bottom: 0;">
    <div class="container">
        <div class="row" style="padding: 10px;border: 0;">
            <p style="text-align: center;color: #efefef;">北方民族大学大数据团队 &copy;版权所有</p>
        </div>
    </div>
</footer>
<!--/尾部-->

<script src="{% static 'lib/jquery/jquery.js' %}"></script>
<!-- 引入所有的Bootstrap的JS插件 -->
<script src="{% static 'lib/bootstrap/js/stu_js/bootstrap.js' %}"></script>
<!-- 你自己的脚本文件 -->
<!--<script src="js/stu_js/index.js"></script>-->
</body>
</html>